<nav class="officer-side-nav">
  <div class="officer-header">
    <h6>Officer</h6>
  </div>

  <ul class="nav-links">
    <li routerLink="/officer/profile" routerLinkActive="active">
      <i class="icon fa fa-user"></i> Profile
    </li>
    <li routerLink="/officer/dashboard" routerLinkActive="active">
      <i class="icon fa fa-chart-line"></i> Dashboard
    </li>
    <li routerLink="/officer/view-projects" routerLinkActive="active">
      <i class="icon fa fa-folder"></i> View All Projects
    </li>
    <li routerLink="/officer/map" routerLinkActive="active">
      <i class="icon fa fa-map-marker-alt"></i> Map
    </li>
    <li routerLink="/officer/notifications" routerLinkActive="active">
      <i class="icon fa fa-bell"></i> Notifications
    </li>
    <li routerLink="/officer/assigned-tasks" routerLinkActive="active">
      <i class="icon fa fa-tasks"></i> Assigned Tasks
    </li>
  </ul>
</nav>
