.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #edf6f9;
  flex-direction: column;
  
  h1 {
    text-align: center;
    color: #006d77;
    margin-bottom: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers all form elements horizontally */
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Limit the form width for better user experience */
    box-sizing: border-box; /* Include padding in the width calculation */


    label {
      width: 100%;
      margin-bottom: 0.5rem;
      color: #333;
      text-align: left;
    }

    input,
    select {
      width: 100%;
      padding: 0.6rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 0.8rem;
      margin-bottom: 1.5rem; /* Spacing between inputs */
      box-sizing: border-box;

      &:focus {
        border-color: #83c5be;
        outline: none;
      }
    }

    .btn-primary {
      padding: 0.8rem;
      border-radius: 5px;
      background-color: #006d77;
      color: #fff;
      font-size: 1.1rem;
      cursor: pointer;
      border: none;
      transition: 0.3s;

      &:hover {
        background-color: #83c5be;
      }
    }
  }
}
