<div class="map-page">

  <app-dept-side-nav></app-dept-side-nav>

  <div class="map-content">
    <h2>Project Locations</h2>

    <!-- Dropdown for project selection -->
    <div class="dropdown-container">
      <label for="projectDropdown">Select Project:</label>
      <select id="projectDropdown" [(ngModel)]="selectedProject" (change)="showProjectOnMap()">
        <option *ngFor="let project of projects" [ngValue]="project">
          {{ project.proj_title }} - {{ project.proj_location }}
        </option>
      </select>
    </div>

    <div id="map" class="map"></div>

    <!-- Project Insights -->
   <div *ngIf="selectedProject" class="insights">
  <h3>Project Insights</h3>

  <div class="insight-card">
    <div class="insight-left">
      <p><b>Title:</b> {{ selectedProject.proj_title }}</p>
      <p><b>Location:</b> {{ selectedProject.proj_location }}</p>
      <p><b>Description:</b> {{ selectedProject.proj_desc }}</p>
    </div>

    <div class="insight-right">
      <p><b>Latitude:</b> {{ selectedProject.proj_latitude }}</p>
      <p><b>Longitude:</b> {{ selectedProject.proj_longitude }}</p>
    </div>
  </div>
</div>

  </div>
</div>
